# [Optional] Jupyter Notebook Themes

## Install Jupyter Notebook Themes

In [ ]:
!pip install jupyterthemes

In [ ]:
!pip install --upgrade jupyterthemes

## List available Themes

In [ ]:
!jt -l

## Change current theme

In [ ]:
!jt -t solarizedl

### Restore default theme

In [ ]:
!jt -r

# Guido Van Rossum

![Guiso Van Rossum](./images/Guido.jpg)

# Why Python?

- General Purpose
- High Level
- Easy 
- Dynamically Typed
- Exceptional Community Support
- Huge Library

<img src="./images/Python.png" alt="drawing" width="600" align="left"/>

# Books

[Intro to Python for Computer Science and Data Science: Learning to Program with AI, Big Data and The Cloud](https://www.amazon.com/Intro-Python-Computer-Science-Data/dp/0135404673/ref=sr_1_3?crid=22TEJMOYJCMZ9&keywords=intro+to+python&qid=1640574135&sprefix=intro+to+python%2Caps%2C87&sr=8-3)

<img src="./images/intro.jpeg" alt="drawing" width="300" align="left"/>

[Python Crash Course, 2nd Edition: A Hands-On, Project-Based Introduction to Programming](https://www.amazon.com/Python-Crash-Course-2nd-Edition/dp/1593279280/ref=sr_1_1?keywords=python+crash+course&qid=1640574418&sprefix=python+crash+%2Caps%2C82&sr=8-1)

<img src="./images/crashcourse.jpeg" alt="drawing" width="300" align="left"/>

# Prepare your working environment

**0. What is python and why using?**  
- Open python-org + https://pypi.org/ + https://docs.python.org/3/library/index.html
- Create folder python-work

**1. Show default python version installed + path**  
``python --version`` x  
``python3 --version``  
``which python3 --version``  
``whereis python``  

**2. Test code in console (interactive and script):**  
- print
- math ops
- create file using vim and execute (script/batch mode)

**3. Python in vscode + extension**  

**4. examine different versions of python in python.org:**  
- if you are using ubuntu 2004 and earlier => `sudo add-apt-repository ppa:deadsnakes/ppa`  
- install v3.10  
- install v2  
- check locations  

**5. check versions in vscode= test execution in v2 vs v3**  

**6. take one step back and install ipython for better interactive mode:**  
- check interactive execution
- REPL concept
- ipython is enhanced python interactive
- auto complete (intellisense)c	
- magic functions

**7. Package primer:**  
- what is a package
- use os and system packages (python standard library) - c language packages - https://docs.python.org/3/library/index.html -- https://github.com/python/cpython/tree/main/Modules
- try importing matplotlib ==> it should fail
- introduce pip:
	* install pip `apt install python3-pip`  
	* list installed packages
	* import matplotlib  
``import matplotlib.pyplot as plt``  
``plt.plot([1, 2, 3, 4])``  
``plt.ylabel('some numbers')``  
``plt.show()``  
	- https://pypi.org/ - explore python package index  

**8. python versions, packages, package versions, tools, etc. ==>> enter the virtual environment:**  
- where is python looking for packages (sys.path)
- use venv: `sudo apt install python3-venv`  
- create an env with python3 and matplotlib (list with pip): `python3 -m venv testing-env`  
- activate venv: means changes prompt and changes sys.path to add new folder of the venv `source ./venv/bin/activate`  
- deactivate venv: `deactivate`  
- show venv in vscode
- create another environment with python2 without matplotlib (list with pip)
- show how you can import packages in one venv but not able on the other
- use "Python environment manager" extension in vscode to explore environments

**9. Easier way to manage packages, virtual environments, nice IDEs, etc. ==> Enter Anaconda:**  
- what is Anaconda?
- install Anaconda https://docs.anaconda.com/anaconda/install/linux/
- what is conda (How it replaces pip + venv)?
- conda cheatsheet https://conda.io/projects/conda/en/latest/_downloads/843d9e0198f2a193a3484886fa28163c/conda-cheatsheet.pdf
- Optional: PyViz Navigation https://pyviz.org/tools.html

**10. Intro to Jupyter Notebook**  
- run from anaconda navigator
- run from cli
- explore the interface
- cell types + examples  
`import seaborn as sns`  
`sns.set()`  
`df = sns.load_dataset("iris")`  
`sns.pairplot(df, hue="species")`  
- save notebooks
- nbextensions https://jupyter-contrib-nbextensions.readthedocs.io/en/latest/install.html

In [ ]:
print("Hello Python world!")

# Variables

In [ ]:
13

In [ ]:
29 + 85

In [ ]:
12.8

In [ ]:
5 * (12.7 - 4) / 2

In [ ]:
'Hello World'

## Variables and Assignment Statements

In [ ]:
x = 7

In [ ]:
y = 3

In [ ]:
x + y

In [ ]:
total = x + y

In [ ]:
total

In [ ]:
x = 9.3 # float

In [ ]:
y = -2 # integer

In [ ]:
x - y

In [ ]:
# very large numbers can be more readable by underscores
universe_age = 14_000_000_000
universe_age

In [ ]:
# multiple assignments
x, y, z = 1, 2, 3

In [ ]:
z

In [ ]:
x = y = 108

In [ ]:
x

In [ ]:
y

## Numbers

### Assignment Operators

<img src="./images/5.png" alt="drawing" width="900" align="left"/>

In [ ]:
x = 10

x += 10 # x = x + 10
print(x)

x -= 10 # x = x - 10
print(x)

x *= 10 # x = x * 10
print(x)

x **= 10
print(x)

### Arithmetic Operators

<img src="./images/1.png" alt="drawing" width="900" align="left"/>

### Multiplication (`*`)

In [ ]:
7 * 4

### Exponentiation (`**`)

In [ ]:
2 ** 10

In [ ]:
9 ** (1 / 2)

### True Division (`/`) vs. Floor Division (`//`)

In [ ]:
7 / 4

In [ ]:
7 // 4 # 1 3/4 -- 1 -  1.75 - 2

In [ ]:
3 // 5

In [ ]:
14 // 7

In [ ]:
-14 // 7

In [ ]:
-13 / 4

In [ ]:
13 // 4

In [ ]:
-13 // 4 # -4 -  -3.25 - -3

In [ ]:
%%script python2.7
print(3.0/2)

In [ ]:
1.0 + 2

### Exceptions and Tracebacks

In [ ]:
123 / 0

In [ ]:
q + 7

### Remainder Operator

In [ ]:
17 % 5 # 3 2/5

In [ ]:
4 % 2

In [ ]:
7.5 % 3.5

### Grouping Expressions with Parenthesis

In [ ]:
10 * (5 + 3)

In [ ]:
10 * 5 + 3

## Strings

In [ ]:
"This is a string"

In [ ]:
'This is also a string'

In [ ]:
"This is a "string""

In [ ]:
'I told my friend, "Python is my favorite language!"'

In [ ]:
"The language 'Python' is named after Monty Python, not the snake."

In [ ]:
"One of Python's strengths is its "diverse" and supportive community."

### Escape characters

<img src="./images/3.png" alt="drawing" width="700" align="left"/>

In [ ]:
'I told my friend, \'Python is my favorite language!\' '

In [ ]:
"I told my friend, \"Python is my favorite language!\" "

### Triple-quoted strings

In [ ]:
"""Display "hi" and 'bye' in quotes"""

In [ ]:
triple_quoted_string = """This is a triple-quoted
string that spans two lines"""

In [ ]:
print(triple_quoted_string)

In [ ]:
triple_quoted_string

In [ ]:
print('This is a triple-quoted\nstring that spans two lines')

### Built-in Functions

<img src="./images/2.png" alt="drawing" width="600" align="left"/>

**[Built-in Function](https://docs.python.org/3/library/functions.html)**

### Using built-in functions

In [ ]:
print('Welcome to Python!')

In [ ]:
abs(-45)

In [ ]:
chr(69)

In [ ]:
ord('M')

In [ ]:
len('python')

In [ ]:
max(45, 12, -90, 56, 1)

In [ ]:
min(45, 12, -90, 56, 1)

In [ ]:
sum([45, 12, -90, 56, 1])

In [ ]:
age = 45
print('I am', age, 'years old')

In [ ]:
print("\tPython")

In [ ]:
print("Languages:\nPython\nC\nJavaScript")

In [ ]:
print("Languages:\n\tPython\n\tC\n\tJavaScript")

## Getting Input from the User

### Using `input()` built-in function

In [ ]:
name = input("What's your name? ")

In [ ]:
name

In [ ]:
print(name)

In [ ]:
name = input("What's your name? ")
print('Hello Mr. ' + name)

### Function `input()` Always Returns a String

In [ ]:
value1 = input('Enter first number: ')
value2 = input('Enter second number: ')

value1 + value2

In [ ]:
name = input('What is your name? ')
age = input('And what is your age?')

print ('Hi',name,',you are ',age, 'years old')

### Getting an Integer from the user and using `int()` function

In [ ]:
name = input('What is your name? ')
yob = input('And what is your year of birth?')

age = 2021 - yob

print ('Hi',name,',you are ',age, 'years old')

In [ ]:
value = input('Enter an integer: ')

In [ ]:
value

In [ ]:
value = int(value)

In [ ]:
value

In [ ]:
another_value = int(input('Enter another integer: '))

In [ ]:
another_value

In [ ]:
value + another_value

In [ ]:
bad_value = int(input('Enter another integer: '))

In [ ]:
int(10.5)

## Everything is an object

### Using `type()` function

In [ ]:
type(7)

In [ ]:
type(10.4)

In [ ]:
type('python')

In [ ]:
x = 7
type(x)

In [ ]:
x ** 3

In [ ]:
y = 'python'
type(y)

In [ ]:
y ** 2

In [ ]:
type("python")

In [ ]:
type("""python""")

In [ ]:
type('''python''')

In [ ]:
x = 9

In [ ]:
type(x)

In [ ]:
some_text = 'This is a text'

In [ ]:
type(some_text)

### Dynamic Typing

In [ ]:
type(x)

In [ ]:
x = 4.1

In [ ]:
type(x)

In [ ]:
x = 'dog'

In [ ]:
type(x)

In [ ]:
x: int = 79

In [ ]:
x

In [ ]:
type(x)

In [ ]:
x = 'a'

In [ ]:
y = 29
type(y)

In [ ]:
type(29.5)

### String and Numbers as Objects

#### Strings as objects

In [ ]:
name = "ada lovelace"
print(name.title()) # title() is called a method

In [ ]:
name = "Ada Lovelace"
print(name.upper())
print(name.lower())

In [ ]:
name = "ada lovelace"
print(name.title())name = "ada lovelace"
print(name.title())first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name
print(full_name)

In [ ]:
first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name

print("Hello, " + full_name.title() + "!")

In [ ]:
'python'.upper()

In [ ]:
first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name

message = "Hello, " + full_name.title() + "!"

print(message)

In [ ]:
favorite_language = 'python '
favorite_language

In [ ]:
favorite_language.rstrip()

In [ ]:
favorite_language = 'python '
favorite_language = favorite_language.rstrip()
favorite_language

In [ ]:
favorite_language = ' python '

In [ ]:
favorite_language.strip()

In [ ]:
age = 23
message = "Happy " + age + "rd Birthday!"
print(message)

In [ ]:
age = 23
message = "Happy " + str(age) + "rd Birthday!"

print(message)

#### Numbers as objects

In [ ]:
x = 109

In [ ]:
x.bit_length()

In [ ]:
bin(x)

In [ ]:
x.as_integer_ratio()

In [ ]:
y = 39.02

In [ ]:
y.as_integer_ratio()

In [ ]:
float(x) # int()

In [ ]:
z = 1.7e3
print(z) 
int(z).bit_length()

In [ ]:
bin(int(z))

In [ ]:
bin(255)

#### Using `dir()` function to display possible attributes

In [ ]:
name = 'Michael'

dir(name)

In [ ]:
age = 45
dir(age)

## Boolean

### True or False

In [ ]:
type(True)

In [ ]:
type(False)

In [ ]:
True

In [ ]:
False

In [ ]:
true

In [ ]:
false

In [ ]:
True and True

In [ ]:
True or True

In [ ]:
False and False

In [ ]:
False or False

In [ ]:
True and False

In [ ]:
True or False

### Comparison Operators

<img src="./images/4.png" alt="drawing" width="400" align="center"/>

In [ ]:
1 == 2

In [ ]:
4 > 2

In [ ]:
not 1 == 2

In [ ]:
12 != 18

In [ ]:
type (not 89 < 100)

### Chaining comparison operators

In [ ]:
x = 6

In [ ]:
1 <= x <= 5

### 0 is False, any other number is True

In [ ]:
bool(9892.3)

In [ ]:
bool(-209)

In [ ]:
bool(0)

### Empty string is False, any other string is True

In [ ]:
bool("Hello")

In [ ]:
bool(" ")

In [ ]:
bool("")

### converting to and from boolean

In [ ]:
str(True)

In [ ]:
str(False)

In [ ]:
int(True)

In [ ]:
int(False)

In [ ]:
5 + True

In [ ]:
13 * False

In [ ]:
'python' ** 2

### Boolean assignment

In [ ]:
boolean_true = 25 >= 25

In [ ]:
print(boolean_true)

In [ ]:
print (not boolean_true)

In [ ]:
print (not (not boolean_true))

In [ ]:
boolean_false = 0 != 0

In [ ]:
boolean_false

In [ ]:
boolean_true

In [ ]:
print( boolean_true and boolean_false)

In [ ]:
print( boolean_true or boolean_false)

### `is` and `in` keywords

In [ ]:
'e' in 'Hello'

In [ ]:
'3' in [1,2,3]

In [ ]:
3 in [1,2,3]

In [ ]:
'Hello' is 'Hello'

In [ ]:
10 is 10

In [ ]:
x = 16
y = 16

In [ ]:
x is y

In [ ]:
x == y

In [ ]:
print(id(x))
print(id(y))

In [ ]:
x = [1,2,3]
y = [1,2,3]

In [ ]:
x == y

In [ ]:
x is y

In [ ]:
print(id(x))
print(id(y))

In [ ]:
hex(id(x))

In [ ]:
id(y[0])

In [ ]:
id(x[0])

## None type

In [ ]:
# None in Python is similar to null in other languages

In [ ]:
type(None)

In [ ]:
x = None

In [ ]:
x

In [ ]:
print(x)

In [ ]:
print(None is None)

In [ ]:
print(None == False)

In [ ]:
bool(None)

In [ ]:
bool(None) == bool("")

In [ ]:
dir(None)

## Comments

### How Do You Write Comments?

In [ ]:
# Say hello to everyone.
print("Hello Python people!")

### What Kind of Commments Should You Write?

- Collaboration
- Notes
- Missing Code
- Explanation
- bla bla bla

## The Zen of Python

In [ ]:
import this

In [ ]:
print(this.s)

# [Sequences]

**Containers that hold some values**
![Python Sequences](./images/6.png)

[Built-in Types](https://docs.python.org/3.3/library/stdtypes.html)

## Python *Ordered* Sequences

- Strings
- Lists
- Tuples
- range()
- Bytes Sequences
- Bytes Array

## Python *Unordered* Sequences

- Sets
- Dictionaries

In [ ]:
Iterable

# [[Ordered Sequences]]

# Lists

## What Is a List?

**Equivalent but not equal to arrays**  
**Python doesn't have arrays as part of the standard types, but has array module in the Standard Library**  
[Python `array` module](https://docs.python.org/3.3/library/array.html#module-array)

In [ ]:
numbers = [54, -12, 0, 77, 1976]
numbers

In [ ]:
print(type(numbers))

In [ ]:
misc = [(1,2), 'Ahmed', 47, [25, -9]]
misc

In [ ]:
print(type(misc))

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

In [ ]:
# Implicit line joining
bicycles = ['trek', 
            'cannondale', 
            'redline',
            'specialized']
print(bicycles)

### Accessing Elements in a List

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[1])

In [ ]:
type(bicycles[1])

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[1].title())

### Index Positions Start at 0, Not 1

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[1])
print(bicycles[2])

In [ ]:
print(bicycles[5])

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[-1])
print(bicycles[-2])

### Using Individual Values from a List

In [ ]:
message = "My first bicycle was a " + bicycles[0].title() + "."
print(message)

## Changing, Adding, and Removing Elements

### Modifying Elements in a List

In [ ]:
# This is what Mutable means
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

In [ ]:
motorcycles[0] = 'ducati'
print(motorcycles)

#### Adding Elements to the End of a List

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles.append('ducati')
print(motorcycles)

In [ ]:
motorcycles = []

motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')

print(motorcycles)

In [ ]:
# Concatinating Lists

num1 = [12, 423, 109]
num2 = [99, -24]
num = num1 + num2
num

In [ ]:
num = [2,4,7]
num * 2

#### Inserting Elements into a List

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles.insert(2, 'ducati')
print(motorcycles)

### Removing Elements from a List

#### Removing an Item Using the del Statement

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

del motorcycles[0]
print(motorcycles)

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

del motorcycles[1]
print(motorcycles)

#### Removing an Item Using the pop() Method

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

popped_motorcycle = motorcycles.pop()

print(motorcycles)
print(popped_motorcycle)

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
last_owned = motorcycles.pop()

print("The last motorcycle I owned was a " + last_owned.title() + ".")

#### Popping Items from any Position in a List

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
first_owned = motorcycles.pop(0)

print('The first motorcycle I owned was a ' + first_owned.title() + '.')

#### Removing an Item by Value

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

motorcycles.remove('ducati')
print(motorcycles)

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

too_expensive = 'ducati'
motorcycles.remove(too_expensive)

print(motorcycles)
print("\nA " + too_expensive.title() + " is too expensive for me.")

## Organizing a List

### Sorting a List Permanently with the sort() Method

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)

### Sorting a List Temporarily with the sorted() Function

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print("Here is the original list:")
print(cars)

print("\nHere is the sorted list:")
print(sorted(cars))

print("\nHere is the original list again:")
print(cars)

### Printing a List in Reverse Order

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)

cars.reverse()
print(cars)

### Finding the Length of a List

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
len(cars)

## `list()` constructor function

In [ ]:
list([1,3,4,5])

In [ ]:
type(list([1,3,4,5]))

In [ ]:
list('Python')

## `list()` with `enumerate()`

In [ ]:
values = ['first', 'second', 'third', 'fourth']
for index in range(len(values)):
    value = values[index]
    print(index, value)

In [ ]:
enumerate(values)

In [ ]:
list(enumerate(values)) # unpacking sequences

In [ ]:
values = ['first', 'second', 'third', 'fourth']
for index, value in enumerate(values):
    print(index, value)

## Avoiding Index Errors When Working with Lists

In [ ]:
#This will generate 'index out of range error'
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles[3])

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles[-1])

In [ ]:
#This will generate 'index out of range error'
motorcycles = []

len(motorcycles)

print(motorcycles[-1])

## Making Numerical Lists

### Using the `range()` Function

In [ ]:
list(range(5))

In [ ]:
print(type(range(5)))

In [ ]:
# slicing (start,stop, step)
list(range(20,2,-2))

In [ ]:
for value in range(1,5):
    print(value)

In [ ]:
for value in range(1,6):
    print(value)

### Using `range()` to Make a List of Numbers

In [ ]:
numbers = list(range(1,6))
print(numbers)

In [ ]:
even_numbers = list(range(2,11,2))
print(even_numbers)

In [ ]:
# Squares

squares = []
for value in range(1,11):
    square = value ** 2
    squares.append(square)
print(squares)

### Simple Statistics with a List of Numbers

In [ ]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print(min(digits))

print(max(digits))

print(sum(digits))

### List Comprehensions

In [ ]:
squares = []

for sq in range(1,11):
    squares.append(sq**2)

squares

In [ ]:
squares = [sq**2 for sq in range(1,11)]
print(squares)

## Working with part of a List

### Slicing a List

In [ ]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(type(players[0:3]))
print(type(players[0]))

# list[start:stop:step]

In [ ]:
players = ['charles', 'martina', 'michael', 'florence', 'eli', 'hassan', 'naima']
print(players[0:5:2])

In [ ]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[0:4])

In [ ]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[2:])

### Looping Through a Slice

In [ ]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print("Here are the first three players on my team:")

for player in players[:3]:
    print(player.title())

### Copying a List

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]

print("My favorite foods are:")
print(my_foods)

print("\nMy friend's favorite foods are:")
print(friend_foods)

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake']

# This doesn't work:
friend_foods = my_foods

friend_foods.append('ice cream')

print("My favorite foods are:")
print(my_foods)

print("\nMy friend's favorite foods are:")
print(friend_foods)

In [ ]:
my_drinks = ['shai', 'bebsy', '3er2soos']

# This doesn't work:
friend_drinks = my_drinks

my_drinks.append('sa7lab')

print("My favorite drinks are:")
print(my_drinks)

print("\nMy friend's favorite drinks are:")
print(friend_drinks)

In [ ]:
my_drinks = ['shai', 'bebsy', '3er2soos']

# this should work:
friend_drinks = my_drinks.copy()

my_drinks.append('sa7lab')

print("My favorite drinks are:")
print(my_drinks)

print("\nMy friend's favorite drinks are:")
print(friend_drinks)

# Tuples

## Defining a Tuple

In [ ]:
# Immutable type
dimensions = (200, 50, 100)

print(dimensions[0])
print(dimensions[1])
print(dimensions[2])

In [9]:
# The comma here is necessery to define the Tuple Data structure 
# () is not necessary like comma but () is useful for readability
oneItem = 1,
print("The type is : {} and the value is  : {}".format(type(oneItem),oneItem))

twoItem = 1,2
print("The type is : {} and the value is  : {}".format(type(twoItem),twoItem))

The type is : <class 'tuple'> and the value is  : (1,)
The type is : <class 'tuple'> and the value is  : (1, 2)

In [ ]:
# Error
dimensions = (200, 50)
dimensions[0] = 250

In [ ]:
two_d = ((0,19), (23,-4), (91,54.2))
two_d

In [ ]:
misc_d = (15, 'abc', (9,1), [1,2,3], {'def':15})
misc_d

In [ ]:
print(type(misc_d[0]))
print(type(misc_d[1]))
print(type(misc_d[2]))
print(type(misc_d[3]))
print(type(misc_d[4]))

## Looping Through All Values in a Tuple

In [ ]:
dimensions = (200, 50, 92)
for dimension in dimensions:
    print(dimension)

In [ ]:
dimensions.count(200)

In [ ]:
dimensions.index(92)

## `list()` with `enumerate()`

In [ ]:
values = ('first', 'second', 'third', 'fourth')
for index, value in enumerate(values):
    print(index, value)

## Writing over a Tuple

In [ ]:
dimensions = (200, 50, 88)
print("Original dimensions:")

for dimension in dimensions:
    print(dimension)

dimensions = (400, 100)
print("\nModified dimensions:")
for dimension in dimensions:
    print(dimension)

# Strings

**Really??**
- Yes, strings are ordered sequences :)

In [ ]:
string = 'Hello Everyone'
string[0]

In [ ]:
string[0] = 'M' # Error, strings are immutable sequences

In [ ]:
string.count('e')

In [ ]:
string.index('y')

In [ ]:
string.

In [ ]:
list(string)

In [ ]:
dir(string)

# [[Unordered Sequences]]

# Sets

In [ ]:
set1 = {1, 3, 4, 4, 6, 8, 9, 9}
set1

In [ ]:
type(set1)

In [ ]:
my_list = ['one', 'one', 'two', 'three', 'three', 'four']
my_list

In [ ]:
# Using the set() function
# my_set = set(my_list)
my_set

In [ ]:
list_again = list(set(my_list))
list_again

In [ ]:
dir(set1)

In [ ]:
set1.add(15)
set1.add(100)
set1.add(100)
set1.add(100)
set1

In [ ]:
# initialize my_set
my_set = {1, 3}
print(my_set)

In [ ]:
my_set.update([4, 5], {1, 6, 8})
print(my_set)

In [ ]:
my_set.discard(4)
print(my_set)

In [ ]:
# Set union method
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use | operator UNION
# Output: {1, 2, 3, 4, 5, 6, 7, 8}
print(A | B) # A U B
print(A.union(B))
print(B.union(A))

In [ ]:
# Intersection of sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use & operator INTERSECTION
# Output: {4, 5}
print(A & B)
print(A.intersection(B))
print(B.intersection(A))

In [ ]:
# Difference of two sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use - operator on A
# Output: {1, 2, 3}
print(A - B)
print(A.difference(B))
# !=
print(B - A)
print(B.difference(A))

In [ ]:
# Symmetric difference of two sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use ^ operator
# Output: {1, 2, 3, 6, 7, 8}
print(A ^ B)
print(A.symmetric_difference(B))

In [ ]:
# No Index but you can loop and test

for num in A:
    print(num)

In [ ]:
print (2 in A)
print (2 in B)

In [ ]:
# You can also use the following methods with sets
# enumerate()
# max()
# min()
# len()
# sum()
# sorted()

# Dictionaries

In [ ]:
# A dictionary is a collection of a key-value pairs.
human1 = {'height':180, 'weight':80, 'eye-color':'green', 'language':'mongolian'}

In [ ]:
print(human1)
print(type(human1))

In [ ]:
# human1 vs print(human1)
human1

In [ ]:
dir(human1)

In [ ]:
human1.items()

In [ ]:
print(human1.keys())
print(human1.values())

In [ ]:
len(human1)

In [ ]:
human1['sex'] = 'male'
human1

In [ ]:
# Modify a value
human1['weight'] = 82
human1

In [ ]:
my_set = set(human1.values())
my_set

In [ ]:
del human1['sex']
human1

In [ ]:
human2 = {'hight': 160,
 'weight': 52,
 'eye-color': 'brown',
 'language': 'british',
 'sex': 'female'}

In [ ]:
human2

In [ ]:
# list values
human3 = {'name':'ahmed','age':45,'language':['arabic','english']}

In [ ]:
human3['language'][1]

In [ ]:
human3['language'][0]

In [ ]:
human4 = {'name':'ahmed','age':45,'language':['arabic','english'], 19:19}

In [ ]:
# nested dictionaries
# nesteddict = {1:{},
#           2:{},
#           3:{}
#          }

humans = {1:{'name': 'John', 'age': '27', 'sex': 'Male'},
          2:{'name': 'Marie', 'age': '22', 'sex': 'Female'},
          3:{'name': 'shawkat', 'age': '62', 'sex': 'Male'}
         }

humans

In [ ]:
humans[1]['age']
# humans[1]['name']

In [ ]:
print(humans[1]['name'],humans[2]['name'],humans[3]['name'])

In [ ]:
humans[3]['name'] = 'rabso'
humans[3]['age'] = '100'
humans[3]['sex'] = 'powder'
humans

In [ ]:
humans[4] = {'name': 'Gamal', 'age': '47', 'married':'No'}
humans

In [ ]:
del humans[4]['married']
humans

In [ ]:
del humans[2], humans[4]
humans

# [Optional] Other Specialized Container Datatypes (Collections)

**Specialized container datatypes providing alternatives to Python’s general purpose built-in containers, dict, list, set, and tuple.**

![Python Collections](./images/7.png)

### [Python Collections](https://docs.python.org/3/library/collections.html)

# String - A Deeper Look

**[Format Specification Mini-Language](https://docs.python.org/3/library/string.html)**

## `format()` method

In [ ]:
'I am Ahmed and I am 54 years old'

In [ ]:
name = 'Ahmed'
age = 54

print('I am', name, ' and I am', age)

In [ ]:
# {} as 'replacement fields'
'abc is {} def is {} hij {}'.format('c1', 365, (9,2))

**Replacement fields have the following format:**   


`{<argument>!<conversion>:<format-specification}`

In [ ]:
# positional arguments
'abc is {0} def is {2} hij {1}'.format(1,2,3)
'abc is {0} def is {2} hij {1} pos {1}'.format(1,2,3)

In [ ]:
# replacement fields with keyword arguments
'abc is {a} def is {b} hij {c}'.format(a=1,b=2,c=3)

In [ ]:
# keywargs replacement fields in different order
'abc is {a} def is {c} hij {b}'.format(b=1,a=2,c=3)

In [ ]:
# replacement fields can reference attributes and elements of positional arguments
'abc is {a[3]} def is {b[0]}'.format(a='hElLo',b=['Ahmed', 'Sami'])

In [ ]:
'abc is {a.title()} def is {b[0]}'.format(a='hElLo',b=['Ahmed', 'Sami'])

In [ ]:
# replacement fields with conversion: 'r' [repr()], 's' [str()] or 'a' [ascii()]
'abc is {a!s}'.format(a='Pythön')

In [ ]:
# replacement fields with format specification
# float precision
'The value of pi is: {0:.4f}'.format(3.14159265)

In [ ]:
# replacement fields with format specification
# float precision
'we can also zero-pad integers like this: {:03}'.format(20)

## Formatting f-strings

In [ ]:
txt1 = "My name is {1}, I'm {0}".format("John",  36)
txt1

In [ ]:
name = 'Ahmed'
age = 45

txt1 = f"My name is {name}, I am {age}"
txt1

In [ ]:
f'{17.489:.2f}' # float

In [ ]:
f'{10:03d}' # int

In [ ]:
f'{65:c} {97:c}' # chr

In [ ]:
from decimal import Decimal

In [ ]:
f'{Decimal("10000000000000000000000000.0"):.3f}'

In [ ]:
f'{Decimal("10000000000000000000000000.0"):.2E}'

In [ ]:
# grouping digits
f'{12345678:,d}'

In [ ]:
# grouping digits
f'{123456.78:,.2f}'

In [ ]:
# you can also format +ve and -ve signs, left, center & right aligntment, field width, etc.

In [ ]:
# you can also use functions and methods inside replacement fields
a = 'hElLo'
b = ['ma7shi', 'falafel', 'kebda']

f"abc is {a.upper()} def is {sorted(b)} and also try {a.replace('E','A').upper()}"

## Splitting and Joining String

In [ ]:
# str split() method
some_text = "My favourites hobbies are chess, estimation, reading and vlogging"
splitted_text = some_text.split(' ')
splitted_text

In [ ]:
some_text = "chess, estimation, computers, reading, handball, smoking"
splitted_text = some_text.split(',')
splitted_text

In [ ]:
lines = """This is line 1
This is line2
This is line3"""
lines

In [ ]:
lines.splitlines()

In [ ]:
lines.splitlines(True)  # to keep the line breaks

In [ ]:
# str join text 
text_list = ['chess', 'estimation', 'computers', 'reading', 'handball', 'smoking']
','.join(text_list)

In [ ]:
# partition() divides string at first occurence of a char
# thus returns a tuple
print('Amanda: 89, 97, 92 and also mike: 30, 11'.partition(': '))

## Character Checks

In [ ]:
'-27'.isdigit()

In [ ]:
'27'.isdigit()

In [ ]:
'A9876'.isalnum()

In [ ]:
'123 Main Street'.isalnum()

## Raw String

In [ ]:
file_path = 'C:\\MyFolder\\MySubFolder\\MyFile.txt'

In [ ]:
file_path

In [ ]:
print(file_path)

In [ ]:
file_path = r'C:\MyFolder\MySubFolder\MyFile.txt'

In [ ]:
file_path

In [ ]:
print(file_path)

# `if...else` and `if...elif...else` Statements

In [ ]:
car = 'bmw'

if car == 'bmw':
    print ('Yes it is')

In [ ]:
car = 'bmw'

if True:
    print ('Yes it is')

In [ ]:
# if <conditional test>:
#    <do something>
#else:
#    <do something else>

In [ ]:
# if (bool(<something>) == True):
#     do something...

In [ ]:
# why does this still work? or does it?

car = 1

if car:
    print ('Yes it is')

In [ ]:
if 1:
    print('Nonzero values are true, so this will print')

In [ ]:
if 0:
    print('Zero is false, so this will not print')

In [ ]:
# consider standardizing string when used in conditional tests (i.e case, stripping, etc.)

In [ ]:
# remember that 'is', 'is not', 'not', 'in', 'and', 'or', chaining ops can all be used for comparison

In [ ]:
age = int(input('How old are you?'))

if 60 >= age >= 45:
    print("You are still young!!")

In [ ]:
# if...else

In [ ]:
age = int(input('How old are you?'))

if 60 >= age >= 45:
    print("You are still young!!")
else:
    print("Sorry!")

In [ ]:
# if...elif..else chain

In [ ]:
age = int(input('How old are you?'))

if 60 >= float(age) >= 45:
    print("You are still young!!")
elif age < 45:
    print("Too young ya man!")
else:
    print("A bit old")

In [ ]:
grade = 80

if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')
else:
    print('F')

In [ ]:
# multiple tests

age = int(input('How old are you?'))
country = input('Enta mneen yaad?')
    
if 60 >= float(age) >= 45 and country.lower() == 'egypt':
    print("kafa2a")
else:
    print("ahlan")

In [ ]:
# try flags

country = input('Enta mneen yaad?')
gender = input('Enta ragel yaad?')

flags = ''

if country.lower() == 'egypt':
    flags += 'p'
#    print (flags)
if gender.lower() == 'male':
    flags += 'm'
#    print (flags)
else:
    flags += 'f'

if flags == 'pm':
    print ('Ahlan beek')
else:
    print ('Ahlan beeky')

In [ ]:
#

In [ ]:
# nesting if stmnt

# if 60 >= float(age) >= 45 and country.lower() == 'egypt':
#     print("kafa2a")
#  else:
#     print("ahlan")

#

age = int(input('How old are you?'))
country = input('Enta mneen yaad?')

if 60 >= float(age) >= 45:
    if  country.lower() == 'egypt':
        print ("You are an Egyptian yound man")
    else:
        print ("You are a young man bas")
else:
    print ("mashi")

In [ ]:
# Conditional Expressions

grade = 87

if grade >= 60:
    result = 'Passed'
else:
    result = 'Failed'

result

In [ ]:
'Passed' if grade >= 60 else 'Failed'

In [ ]:
'even' if int(input('Enter an integer:')) % 2 == 0 else 'odd'

In [ ]:
[2,4,6] if int(input('Enter an integer:')) % 2 == 0 else [1,3,5]

In [ ]:
# if..elif..else expression

In [ ]:
grade = 90

# if grade >= 90:
#     print('A')
# elif grade >= 80:
#     print('B')
# elif grade >= 70:
#     print('C')
# elif grade >= 60:
#     print('D')
# else:
#     print('F')

'A' if grade >= 90 else ( 'B' if grade >= 80 else ( 'C' if grade >= 70 else ( 'D' if grade >= 60 else 'F')) )

In [ ]:
# list comprehensions

l = [i * 10 if i % 2 == 0 else i for i in range(1,15)]
l

In [ ]:
# pass statement
# to change the if stmnt later

if True:
    pass

# `for` and `while` Loops

## `while` statement

In [ ]:
# cont. if stmnt logic

# while True:
#    <do something then repeat UNTIL condition is False >

counter = 1

while counter < 90:
    counter += 3

counter

In [ ]:
counter = 1

while counter < 90:
    print(f'[{counter}', end=' ')
    counter *= 3
    print (f'{counter}]', end=' ')

#counter

In [ ]:
my_list = ['foul', 'flafel', 'batates', 'pickles', 'koshary', 'betengan']

while len(my_list) > 0:
    print(my_list[-1])
    my_list.pop()
    print(my_list)
    print('--')
    
print('---\nalf hana ya brens:)')

In [ ]:
# combine while and if
# why use a break statement?

#user_input = ''
retries = 1

while retries <= 3:
    user_input = input('type a number: ')
    if not user_input.isdigit():
        retries += 1
    else:
        print(
            f'Finally! the square root of the number you entered is {(int(user_input)**(1/2)):.4f}'
        )
        break

if retries > 2:
    print('rabbena yehdeek')

In [ ]:
# combine while and if
# why use a break statement?

#user_input = ''
retries = 1

while True:
    user_input = input('type a number: ')
    if not user_input.isdigit():
        retries += 1
    else:
        print(
            f'Finally! the square root of the number you entered is {(int(user_input)**(1/2)):.4f}'
        )
        break

if retries > 2:
    print('rabbena yehdeek')

## `for` Loop

In [ ]:
# iterate through iterable
foods = ['foul', 'falafel', 'batates', 'pickles', 'koshary', 'betengan']

for food in foods:
    print(food)

In [ ]:
some_text = 'This is a string'

for letter in some_text:
    print(f'{letter}')

In [ ]:
foods_set = {'foul', 'falafel', 'batates', 'pickles', 'koshary', 'betengan'}
foods_tuple = ('foul', 'flafel', 'batates', 'pickles', 'koshary', 'betengan')
foods_dictionary = {
    '1': 'foul',
    '2': 'falafel',
    '3': 'batates',
    '4': 'pickles',
    '5': 'koshary',
    '6': 'betengan'
}

for food in foods_set:
    print(food)

print('-----')

In [ ]:
# for food in foods_tuple:
#     print(food)
# print('----')

for index, food in enumerate(foods_tuple):
    print(index, food)

In [ ]:
for food in enumerate(foods_dictionary.values()):
    print(food[1])

In [ ]:
# (0, ('1', 'foul'))

for counter, (index, value) in list(enumerate(foods_dictionary.items())):
    print (f'{index} {value}')

In [ ]:
for index, item in list(enumerate(foods_dictionary.values())):
    print(index, item)

In [ ]:
for counter, (index, food) in enumerate(foods_dictionary.items()):
    print(index, food)

In [ ]:
# range()
for counter in range(1,22):
    if counter % 2 != 0:
        print(f'{counter} is odd')
    else:
        print(f'{counter} is even')

In [ ]:
# break statement

In [ ]:
foods = ['foul', 'falafel', 'batates', 'pickles', 'koshary', 'betengan']

for food in foods:

    if food == 'pickles':
        print('tamam keda :)')
        break
    print(food)

In [ ]:
# nested for with if
# prime numbers

for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n // x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

In [ ]:
# continue statement
# range()
for counter in range(1,22):
    if counter % 2 == 0:
        print(f'{counter} is even')
    else:
        print(f'{counter} is odd')

In [ ]:
for counter in range(1,22):
    if counter % 2 == 0:
        print(f'{counter} is even')
        continue
    print(f'{counter} is odd')

In [ ]:
for letter in "This is a simple string":
    if letter == 'i':
        continue
#         pass
    print(letter)

In [ ]:
# else statement with for?

In [ ]:
for num in range (20):
    if num % 3 == 0:
        print(f'{num} is dividable by 3')
else:
    print(num)

# Example: Word Count

In [ ]:
text = ('this is sample text with several words '
        'this is more sample text with some different words '
        'that is also another text with other different words'
       )
text

In [ ]:
text.split()

In [ ]:
word_counts = {}

In [ ]:

word = 'this'

if word in word_counts:
    word_counts[word] += 1    
else:
    word_counts[word] = 1

print(word_counts)

In [ ]:
word_counts = {}

for word in text.split():
    if word in word_counts:
        word_counts[word] += 1    
    else:
        word_counts[word] = 1

# print(word_counts)
# print(word_counts.items())

for word, count in sorted(word_counts.items()):
    print(f'{word:<12} : {count}')
    
print(len(word_counts))

### Python Standard Library Module `collections`

In [ ]:
from collections import Counter

In [ ]:
text = ('this is sample text with several words '
        'this is more sample text with some different words')

In [ ]:
print(type(text.split()))

In [ ]:
counter = Counter(text.split())

In [ ]:
counter

In [ ]:
for word, count in sorted(counter.items()):
    print(f'{word:<12}{count}')

In [ ]:
print('Number of unique keys:', len(counter.keys()))

In [ ]:
%%timeit
pass

# Functions

In [ ]:
# block of code to perform a task

In [ ]:
# block of code to perform a task
name = input('اسمك ايه ياض؟: ')
print(f'راجل يا {name}')

In [ ]:
# function definition
def greeting():
    name = input('What is your name?')
    print(f'Welcome to Python {name}')

In [ ]:
# function call
greeting()

In [ ]:
# passing arguments
def greeting(username):
    print(f'Welcome to Python Mr. {username.title()}!')

In [ ]:
# call 
greeting('ahmed')

In [ ]:
# passing multiple arguments
def pets(owner_name, pet_name):
    print(f'Hi {owner_name.title()} please take care of {pet_name.title()}!')

In [ ]:
pets('ahmed', 'Sultan')

In [ ]:
pets('sultan', 'ahMed')

In [ ]:
# keyward arguments
pets(pet_name='sultan', owner_name='ahmed')

In [ ]:
# default values

pets('ahmed') # error

In [ ]:
def pets(owner_name, pet_name = 'sultan'):
    print(f'Hi {owner_name.title()} please take care of {pet_name.title()}!')

In [ ]:
pets('ahmed')

In [ ]:
# return values
# what is the type of the output?

In [ ]:
def pets(owner_name = 'ahmed', pet_name = 'sultan'):
    advice = f'Hi {owner_name.title()} please take care of {pet_name.title()}!'
    return advice

In [ ]:
pets()

In [ ]:
type(pets())

In [ ]:
# which default is considered?

def pets(owner_name = '', pet_name = ''):
    advice = f'Hi {owner_name.title()} please take care of {pet_name.title()}!'
    return advice
pets('ahmed')

In [ ]:
# optional arguments

def fullname(fname = 'x', mname = 'y', lname = 'z'):
    return f'Your full name is: {fname.title()} {mname.title()} {lname.title()}-'
fullname ('magnus','جادالحق','carlsen')

In [ ]:
fullname ('magnus')

In [ ]:
# opt arg must be defaulted and be last arg in list

def fullname(fname, lname,  mname = ''):
    if mname:
        fname =  f'Your full name is: {fname.title()} {mname.title()} {lname.title()}-'
    else:
        fname =  f'Your full name is: {fname.title()} {lname.title()}-'
    return fname

fullname ('magnus','جادالحق','carlsen')

In [ ]:
fullname('magnus','carlsen')

In [ ]:
# python style code recommends beginning the code block with a docstring """func desc"""

def fullname(fname, lname,  mname = ''):
    """prints out a fullname for a given triplet firstname, middlename and last name
    with an optional parameter 'middlename'"""
    if mname:
        fname =  f'Your full name is: {fname.title()} {mname.title()} {lname.title()}-'
    else:
        fname =  f'Your full name is: {fname.title()} {lname.title()}-'
    return fname

In [ ]:
fullname??

In [ ]:
# func help - can we use shift-tab like with built-in functions and methods?
#print()
print??

In [ ]:
fullname?

In [ ]:
fullname??

In [ ]:
# arbitrary argument lists
def average(*args):
    return sum(args) / len(args)

average(1, 2, 3, 4, 5, 56, 878, 23)

In [ ]:
# what happens to parameters defined in the func after calling it?

In [ ]:
# local scope vs global scope

In [ ]:
# local scope

x = 10 # global variable within this ipython script scope

# functions can reference global variables
def access_global():
    print('x printed from access_global:', x)

In [ ]:
access_global()

In [ ]:
# if a variable wasn't defined within a function python will look for it in the global variables

In [ ]:
# however, unline other languages, a function cannot modify a global variable!
def try_to_modify_global():
    x = 3.5
    print('x printed from try_to_modify_global:', x)
try_to_modify_global()

In [ ]:
x

In [ ]:
# you can resolve this by using the 'global' statement
def modify_global():
    global x;
    x = 'hello'
    print('x printed from modify_global:', x)

In [ ]:
modify_global()

In [ ]:
x

In [ ]:
# be careful of the function 'shadow' of death

In [ ]:
type(sum)

In [ ]:
sum = 10 + 5

In [ ]:
sum

In [ ]:
sum([10, 5])

In [ ]:
type(sum)

In [ ]:
# more on passing parameters

In [ ]:
# are parameters passed value reference or value

In [ ]:
x = 13

In [ ]:
id(x)

In [ ]:
def cube(number):
    print('id(number):', id(number))
    return number ** 3

In [ ]:
cube(x)

In [ ]:
cube(13) # welcome to big data :)

In [ ]:
# what about immutable objects?
def cube(number):
    print('id(number) before modifying number:', id(number))
    number **= 3
    print('id(number) after modifying number:', id(number))
    return number

In [ ]:
cube(x)

In [ ]:
# map() function

In [ ]:
# def cuber(x):
#     return x ** 3

# my_list = [2,3,4]

# result = map(cuber,my_list)
# print(list(result))

## equivalent to :

newresult = []
for item in my_list:
    newresult.append(item ** 3)
print(newresult)

In [ ]:
# === #

In [ ]:
# anonymous functions = lambda expressions

In [ ]:
# lambda <arguments> : <expression>
lambda a, b, c: a + b - c +  10

In [ ]:
# lambda a, b, ..., n: <expression> 
# any number of arguments
# the <expression> is the return value
# all must be in a single line

In [ ]:
f = lambda x: x ** 2 # lambda's name is 'f' and it takes one arg 'x' and it squares it

f(2)

In [ ]:
f = lambda x, y: 3 * (x ** 2) + 2 * y - 5 # lambda can also take multiple args

f(2,3)

In [ ]:
# remember this?

my_list = [2,3,4]

# def cuber(x):
#     return x ** 3
# result = map(cuber,my_list)
# print(list(result))

result = list(map(lambda x: x ** 3, my_list))
result

In [ ]:
the_greats = ['machael jackson', 'ahmed sami', 'magdi shatta', 'alireza firouzja', 'marwan pablo']
# the_greats.sort(key=len)
the_greats.sort()

the_greats

In [ ]:
for name in the_greats:
    print(name.split(' ')[0])
    

# the_greats = ['machael jackson', 'ahmed sami', 'magdi shatta', 'alireza firouzja', 'marwan pablo']
# the_greats.sort(key=lambda name: name.split(' ')[0])

# the_greats

In [ ]:
# one level deeper

In [ ]:
def myfunc(n):
    return lambda a : a * n


mydoubler = myfunc(2)

# type(mydoubler)

print(mydoubler(11))

In [ ]:
# remember this
# lambda x, y: 3 * (x ** 2) + 2 * y - 5

def quadratic(a,b,c):
    return lambda x: a * (x ** 2) + b * x - c

# f = quadratic(2,3,5)
# f(2)
quadratic(2,3,5)(2)

In [ ]:
# same as but not as readable

quadratic(2,3,5)(2)

# Intro to Object-Oriented Programming

```python
class ClassName:
    <statement-1>
    .
    .
    .
    <statement-N>
```

In [ ]:
class Trivial:
    pass

In [ ]:
t1 = Trivial()

In [ ]:
print(type(t1))

In [ ]:
dir(t1)

In [ ]:
t1.name = 'sameh'

In [ ]:
t1.name

In [ ]:
dir(t1)

In [ ]:
t2 = Trivial()

In [ ]:
t2.name = 'mohsen'

In [ ]:
print(t2.name, t1.name)

In [ ]:
name ='ahmed'

In [ ]:
print(t2.name, t1.name, name)

In [ ]:
class Dog:
    def bark(): # obj.bark() method
        print('haw haw haw')

In [ ]:
dog1 = Dog()

In [ ]:
dir(dog1)

In [ ]:
Dog.bark()

In [ ]:
type(dog1)

In [ ]:
dog1.bark()

In [ ]:
# namespaces

In [ ]:
class Dog:
    def bark(self): # obj.bark() method
        print('haw haw haw')

In [ ]:
dog1 = Dog()

In [ ]:
Dog.bark(dog1)

In [ ]:
dog1.bark()

In [ ]:
dog2 = Dog()

In [ ]:
dog2.bark()

In [ ]:
class Dog:
    def __init__(self):
        self.name = 'rex'
        
    def bark(self): # obj.bark() method
        print('haw haw haw')

In [ ]:
dog1 = Dog()

In [ ]:
dog1.name

In [ ]:
dog2 = Dog()

In [ ]:
dog2.name

In [ ]:
class Dog:
    def __init__(self, name):
        self.name = name
        
    def bark(self): # obj.bark() method
        print('haw haw haw')

In [ ]:
dog1 = Dog('simba')

In [ ]:
dog1.name

In [ ]:
dog2 = Dog('mesh simba')

In [ ]:
dog2.name

In [ ]:
dog1.name = 'Joy'

In [ ]:
dog2.name

In [ ]:
dog1.name

In [ ]:
class Dog:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def bark(self):
        print("haw haw haw")
    def set_age(self, age):
        self.age = age

In [ ]:
dog1 = Dog('zeft', 2)

In [ ]:
dog1.set_age(3)

In [ ]:
dog1.age

In [ ]:
class Dog:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def bark(self):
        print("haw haw haw")
    def set_age(self, age):
        self.age = age
   
    @property
    def name(self):
        return self._name
    
    @name.setter
    def name(self, name):
        if not name.isalpha():
            raise ValueError('Dog name must be letters only')
        self._name = name

In [ ]:
dog1 = Dog('juva', 2)

In [ ]:
dog2 = Dog('abc1',2)

In [ ]:
dog1.name

In [ ]:
dog1.name = 'mory'

In [ ]:
dog1.name

In [ ]:
dog1.name = 'mory0'

In [ ]:
class Account:
    """This class is a base class for bank accounts
    that is created by passing name and balance"""
    def __init__(self, name, balance):
        """ to initialize basic info"""
        self.name = name
        self.balance = balance
    def deposit(self, amount):
        self.balance += amount
    def withdraw(self, amount):
        self.balance -= amount

In [ ]:
acct1 = Account('maher', 230.7)

In [ ]:
dir(acct1)

In [ ]:
acct1.balance

In [ ]:
acct1.deposit(-12)

In [ ]:
class Account:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
        else:
            raise ValueError('amount must be positive.')
    def withdraw(self, amount):
        if amount > 0:
            self.balance -= amount

In [ ]:
my_acct = Account('ahmed', 230.15)

In [ ]:
my_acct.deposit(-12)

In [ ]:
class Account:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.__ssn = '123-45-6789'
    def deposit(self, amount:'must be positive value') -> 'insert money':
        if amount > 0:
            self.balance += amount
        else:
            raise ValueError('amount must be positive.')
    def withdraw(self, amount):
        if amount > 0:
            self.balance -= amount

In [ ]:
acct2 = Account('magdy', 300)

In [ ]:
dir(acct2)

In [ ]:
acct2._Account__ssn = '000000'

In [ ]:
acct2

In [ ]:
print(acct2)

In [ ]:
myr = range(1,178,3)

In [ ]:
myr

In [ ]:
print(myr)

In [ ]:
myl = list([1,2,3])

In [ ]:
myl

In [ ]:
print(myl)

In [ ]:
st = 'hello'

In [ ]:
x = 10

In [ ]:
st + x

In [ ]:
x + st

In [ ]:
st + st

In [ ]:
dir(acct2)

In [ ]:
print(acct2)

In [ ]:
class Account:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.__ssn = '123-45-6789'
    def deposit(self, amount:'must be positive value') -> 'insert money':
        if amount > 0:
            self.balance += amount
        else:
            raise ValueError('amount must be positive.')
    def withdraw(self, amount):
        if amount > 0:
            self.balance -= amount
    def __repr__(self):
        return f'{{self.name} currently has {self.balance} in his account}'

In [ ]:
acct2 = Account('yehia', 900)

In [ ]:
acct2

In [ ]:
print(acct2)

In [ ]:
acct1 = Account('nadeem', 100)

In [ ]:
acct1 + acct2

In [ ]:
class Account:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.__ssn = '123-45-6789'
    def deposit(self, amount:'must be positive value') -> 'insert money':
        if amount > 0:
            self.balance += amount
        else:
            raise ValueError('amount must be positive.')
    def withdraw(self, amount):
        if amount > 0:
            self.balance -= amount
    def __repr__(self):
        return f'{self.name} currently has {self.balance} in his account'
    def __add__(self, other):
        return f'{self.name} and {other.name} both have a total of ', self.balance + other.balance

In [ ]:
acct2 = Account('yehia', 900)

In [ ]:
acct1 = Account('nadeem', 100)

In [ ]:
acct1 + acct2

In [ ]:
# inheritance

In [ ]:
class Employee:
    def __init__(self, fname, lname):
        self.fname = fname
        self.lname = lname
        self.email = fname + '.' + lname + '@email.com'

In [ ]:
emp1 = Employee('mohamed', 'tharwat')

In [ ]:
emp1.email

In [ ]:
class Teacher(Employee):
    pass

In [ ]:
tr1 = Teacher('hany', 'hassan')

In [ ]:
tr1.email

In [ ]:
class Teacher(Employee):
    def __init__(self, fname, lname):
        super().__init__(fname, lname)
        self.email = 't-' +fname + '.' + lname + '@email.com'

In [ ]:
tr1 = Teacher('ahmed', 'adaweyya')

In [ ]:
tr1.email

In [ ]:
print(help(Teacher))

Dec  Char                           Dec  Char     Dec  Char     Dec  Char
---------                           ---------     ---------     ----------
  0  NUL (null)                      32  SPACE     64  @         96  `
  1  SOH (start of heading)          33  !         65  A         97  a
  2  STX (start of text)             34  "         66  B         98  b
  3  ETX (end of text)               35  #         67  C         99  c
  4  EOT (end of transmission)       36  $         68  D        100  d
  5  ENQ (enquiry)                   37  %         69  E        101  e
  6  ACK (acknowledge)               38  &         70  F        102  f
  7  BEL (bell)                      39  '         71  G        103  g
  8  BS  (backspace)                 40  (         72  H        104  h
  9  TAB (horizontal tab)            41  )         73  I        105  i
 10  LF  (NL line feed, new line)    42  *         74  J        106  j
 11  VT  (vertical tab)              43  +         75  K        107  k
 12  FF  (NP form feed, new page)    44  ,         76  L        108  l
 13  CR  (carriage return)           45  -         77  M        109  m
 14  SO  (shift out)                 46  .         78  N        110  n
 15  SI  (shift in)                  47  /         79  O        111  o
 16  DLE (data link escape)          48  0         80  P        112  p
 17  DC1 (device control 1)          49  1         81  Q        113  q
 18  DC2 (device control 2)          50  2         82  R        114  r
 19  DC3 (device control 3)          51  3         83  S        115  s
 20  DC4 (device control 4)          52  4         84  T        116  t
 21  NAK (negative acknowledge)      53  5         85  U        117  u
 22  SYN (synchronous idle)          54  6         86  V        118  v
 23  ETB (end of trans. block)       55  7         87  W        119  w
 24  CAN (cancel)                    56  8         88  X        120  x
 25  EM  (end of medium)             57  9         89  Y        121  y
 26  SUB (substitute)                58  :         90  Z        122  z
 27  ESC (escape)                    59  ;         91  [        123  {
 28  FS  (file separator)            60  <         92  \        124  |
 29  GS  (group separator)           61  =         93  ]        125  }
 30  RS  (record separator)          62  >         94  ^        126  ~
 31  US  (unit separator)            63  ?         95  _        127  DEL

In [ ]:
somestr = 'hEllo mR. aHmed !'
newstrlist = []
for letter in somestr:

    if 97 <= ord(letter) <= 122:

        newstrlist.append(chr(ord(letter) - 32))
    else:
        newstrlist.append(letter)
newstrlist
''.join(newstrlist)

In [ ]:
class Newstring:
    """bla bla"""
    def __init__(self, nstr):
        """bla bla bardo"""
        self.length = len(nstr)
        self.uppercase
        self.nstr = nstr
        
    def uppercase(self):
        """bla bla"""
        somestr = self.nstr
        newstrlist = []
        for string in somestr:
       
            if 97 <= ord(string) <= 122:
       
                newstrlist.append(chr(ord(string) - 32))
            else:
                newstrlist.append(string)
       
        return ''.join(newstrlist)

In [ ]:
newstr = Newstring('string')

In [ ]:
print(newstr.length)

In [ ]:
print(newstr.uppercase())

In [ ]:
# card.py
"""Card class that represents a playing card and its image file name."""

class Card:
    FACES = ['ace', '2', '3', '4', '5', '6',
             '7', '8', '9', '10', 'jack', 'queen', 'king']
    SUITS = ['hearts', 'diamonds', 'clubs', 'spades']

    def __init__(self, face, suit):
        """Initialize a Card with a face and suit."""
        self._face = face
        self._suit = suit

    @property
    def face(self):
        """Return the Card's self._face value."""
        return self._face

    @property
    def suit(self):
        """Return the Card's self._suit value."""
        return self._suit

    @property
    def image_name(self):
        """Return the Card's image file name."""
        return str(self).replace(' ', '_') + '.png'

    def __repr__(self):
        """Return string representation for repr()."""
        return f"Card(face='{self.face}', suit='{self.suit}')"     

    def __str__(self):
        """Return string representation for str()."""
        return f'{self.face} of {self.suit}'

    def __format__(self, format):
        """Return formatted string representation."""
        return f'{str(self):{format}}'

In [ ]:
from card import Card

In [ ]:


from deck import DeckOfCards

deck_of_cards = DeckOfCards()

# Enable Matplotlib in IPython
%matplotlib

# Create the Base `Path` for Each Image
from pathlib import Path

path = Path('.').joinpath('card_images')

# Import the Matplotlib Features
import matplotlib.pyplot as plt

import matplotlib.image as mpimg

# Create the `Figure` and `Axes` Objects
figure, axes_list = plt.subplots(nrows=4, ncols=13)

# Configure the `Axes` Objects and Display the Images
for axes in axes_list.ravel():
    axes.get_xaxis().set_visible(False)
    axes.get_yaxis().set_visible(False)
    image_name = deck_of_cards.deal_card().image_name
    img = mpimg.imread(str(path.joinpath(image_name).resolve()))
    axes.imshow(img)

# Maximize the Image Sizes
figure.tight_layout()

### Shuffle and Re-Deal the Deck
deck_of_cards.shuffle()

for axes in axes_list.ravel():
    axes.get_xaxis().set_visible(False)
    axes.get_yaxis().set_visible(False)
    image_name = deck_of_cards.deal_card().image_name
    img = mpimg.imread(str(path.joinpath(image_name).resolve()))
    axes.imshow(img)

In [ ]:
from deck import DeckOfCards

In [ ]:
deck_of_cards = DeckOfCards()

In [ ]:
type(deck_of_cards)

In [ ]:
deck_of_cards.shuffle()
print(deck_of_cards)

In [ ]:
from IPython.display import Image
card = deck_of_cards.deal_card()
print(card)
Image(filename='card_images/'+card.image_name)

In [ ]:
from IPython.display import Image
card = deck_of_cards.deal_card()
Image(filename='card_images/'+card.image_name)

# Modules, Packages, Libraries and Frameworks

**[Brief Tour of the Standard Library - Part I](https://docs.python.org/3/tutorial/stdlib.html)**  
**[Brief Tour of the Standard Library - Part II](https://docs.python.org/3/tutorial/stdlib2.html)**

sound/                          Top-level package
      __init__.py               Initialize the sound package
      formats/                  Subpackage for file format conversions
              __init__.py
              wavread.py
              wavwrite.py
              aiffread.py
              aiffwrite.py
              auread.py
              auwrite.py
              ...
      effects/                  Subpackage for sound effects
              __init__.py
              echo.py
              surround.py
              reverse.py
              ...
      filters/                  Subpackage for filters
              __init__.py
              equalizer.py
              vocoder.py
              karaoke.py
              ...

In [ ]:
# import sound.effects.echo
# sound.effects.echo.echofilter(input, output, delay=0.7, atten=4)
# equivalent to
# from sound.effects import echo
# echo.echofilter(input, output, delay=0.7, atten=4)
# equivalent to
# from sound.effects.echo import echofilter
# echofilter(input, output, delay=0.7, atten=4)

In [ ]:
# Python Standard Library

In [ ]:
###############
# os

In [ ]:
import os

In [ ]:
dir(os)

In [ ]:
os.getlogin()

In [ ]:
os.getcwd()

In [ ]:
os.system('mkdir today')

In [ ]:
os.listdir()

In [ ]:
###############
# glob

In [ ]:
import glob

In [ ]:
glob.glob('*.py')

In [ ]:
###############
# re

In [ ]:
import re

In [ ]:
re.findall(r'\bf[a-z]*', 'which foot or hand fell fastest f2ast1est')

In [ ]:
###############
# sys

In [ ]:
import sys

In [ ]:
print(sys.argv)

In [ ]:
print(sys.ps3)

In [ ]:
dir(sys)

In [ ]:
###############
# datetime

In [ ]:
from datetime import date

In [ ]:
now = date.today()
now

In [ ]:
now.strftime("%m-%d-%y. %d %b %Y is a %A on the %d day of %B.")

In [ ]:
# dates support calendar arithmetic
birthday = date(1964, 7, 31)
age = now - birthday
age.days

In [ ]:
###############
# math

In [ ]:
import math

In [ ]:
dir(math)

In [ ]:
math.cos(math.pi)

In [ ]:
math.log(1024, 2)

In [ ]:
math.gcd(35,105)

In [ ]:
import statistics

In [ ]:
dir(statistics)

In [ ]:
data = [2.75, 1.75, 1.25, 0.25, 0.5, 1.25, 3.5]
print('mean: ', statistics.mean(data))
print('median: ', statistics.median(data))
print('variance: ', statistics.variance(data))

In [ ]:
###############
# decimal

In [ ]:
from decimal import Decimal

In [ ]:
x = y = z  = 0.1
s = x + y + z

In [ ]:
s

In [ ]:
0.300000000000004 ==  0.300000000000005

In [ ]:
x = Decimal('0.1')
y = Decimal('0.1')
z = Decimal('0.1')

s = x + y + z

print(s)

In [ ]:
x = Decimal((0, (3, 1, 4), -1))

In [ ]:
x

In [ ]:
Decimal((0, (3, 1, 4), -2)) == Decimal('3.14')

In [ ]:
###############
# typing

In [ ]:
import typing

In [ ]:
def scale(scalar, vector) :
    return [scalar * num for num in vector]

new_vector = scale(2.0, [1.0, -4.2, 5.4])

In [ ]:
Vector = list[float]

def scale(scalar: float, vector: Vector) -> Vector:
    return [scalar * num for num in vector]

# typechecks; a list of floats qualifies as a Vector.
new_vector = scale(2.0, [1.0, -4.2, 5.4])

In [ ]:
type(new_vector)

In [ ]:
import array

In [ ]:
a = array.array('l', [1,2,3,4,5])

In [ ]:
a[0]

In [ ]:
type(a)

In [ ]:
###############
# random

In [ ]:
import random

In [ ]:
random.seed(10)
random.random()

In [ ]:
random.uniform(9,189)

In [ ]:
random.randrange(0,100,3)

In [ ]:
random.choice(['win', 'lose', 'draw'])

In [ ]:
il = [1,2,3,4,5]
sl = ['a','b','c','d','e']

random.shuffle(il)
random.shuffle(sl)

print(il)
print(sl)

In [ ]:
random.sample([10, 20, 30, 40, 50, 'a', 'b', 'c', 'd', 'e'], k=7)

In [ ]:
random.choices(['red', 'black', 'green'], [18, 1, 5], k=6)

In [ ]:
##############
# collections

In [ ]:
import collections

In [ ]:
Point = collections.namedtuple('Point', ['x','y'])

In [ ]:
p1 = Point(13, 99)

In [ ]:
p1[0]

In [ ]:
p1.x

In [ ]:
######################

In [ ]:
# string

In [ ]:
import string

In [ ]:
import string

# string module constants
print(string.ascii_letters)
print(string.ascii_lowercase)
print(string.ascii_uppercase)
print(string.digits)
print(string.hexdigits)
print(string.whitespace)  # ' \t\n\r\x0b\x0c'
print(string.punctuation)

In [ ]:
from string import Template
t = Template('${village}folk send $$10 to $cause.')
t.substitute(village='Nottingham', cause='the ditch fund')

# Working with Files

In [ ]:
cat pi_digits.txt

In [ ]:
# the 'open()' functions returns an object representing the file
# The keyword 'with' closes the file once access to it is no longer needed
# you can also use the 'close()' function to close the file
# use the 'read()' method in the second line of our program to 
# read the entire contents of the file and store it as one long string in contents

with open('pi_digits.txt') as file_object:
    contents = file_object.read()
print(contents)

In [ ]:
type(file_object)

In [ ]:
# you can use rstrip to remove the extra blank line
with open('pi_digits.txt') as file_object:
    contents = file_object.read()
print(contents.rstrip())

In [ ]:
# read line by line
filename = 'pi_digits.txt'

with open(filename) as file_object:
    lcounter = 1
    for line in file_object:
        print(lcounter, ': ', line.rstrip())
        lcounter += 1

In [ ]:
# readlines() method makes a list of lines
filename = 'pi_digits.txt'

with open(filename) as file_object:
    lines = file_object.readlines()
    for line in lines:
        print(line.rstrip())

In [ ]:
# working with file contents
# concatinate the contents

filename = 'pi_digits.txt'

with open(filename) as file_object:
    lines = file_object.readlines()

pi_string = ''
for line in lines:
    pi_string += line.strip()

print(pi_string)
print(len(pi_string))

In [ ]:
filename = 'pi_million_digits.txt'

with open(filename) as file_object:
    lines = file_object.readlines()

pi_string = ''
for line in lines:
    pi_string += line.strip()

print(f'{pi_string[:52]}...')
print(len(pi_string))

In [ ]:
# birthday
filename = 'pi_million_digits.txt'

with open(filename) as file_object:
    lines = file_object.readlines()

pi_string = ''
for line in lines:
    pi_string += line.strip()

birthday = input("Enter your birthday, in the form mmddyy: ")
if birthday in pi_string:
    print("Your birthday appears in the first million digits of pi!")
else:
    print("Your birthday does not appear in the first million digits of pi.")

In [ ]:
%cat programming.txt

In [ ]:
# writing to a file
filename = 'programming.txt'

with open(filename, 'w') as file_object:
    file_object.write("I also love finding meaning in large datasets.\n")
    file_object.write("I love creating apps that can run in a browser.\n")

In [ ]:
%cat programming.txt

In [ ]:
############
# csv

[csv — CSV File Reading and Writing](https://docs.python.org/3/library/csv.html)

[Common Format and MIME Type for Comma-Separated Values (CSV) Files](https://datatracker.ietf.org/doc/html/rfc4180)

In [ ]:
cat names.csv

In [ ]:
import csv

In [ ]:
with open('./names.csv', newline='') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        print(row['fname'], row['lname'], row['country'])
type(row)

In [ ]:
# access modes r, w, a, r+, w+, etc.

with open('names2.csv', 'a', newline='') as csvfile:
    fieldnames = ['fname', 'lname','age','sex','country']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    writer.writeheader()
    writer.writerow({'fname': 'hammo', 
                     'lname': 'Bika', 
                     'age': '34', 
                     'sex': 'male', 
                     'country': 'egypt'})
    
    writer.writerow({'fname': 'alissa', 
                     'lname': 'abdrabbo', 
                     'age': '55', 
                     'sex': 'female', 
                     'country': 'lebanon'})

In [ ]:
cat names2.csv

In [ ]:
cat names_tabs.csv

In [ ]:
# dialect
# error
with open('./names_tabs.csv', newline='') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        print(row['fname'], row['lname'])

In [ ]:
# dialect
with open('./names_tabs.csv', newline='') as csvfile:
    reader = csv.DictReader(csvfile, delimiter='	')
    for row in reader:
        print(row['fname'], row['lname'])

In [ ]:
###########
# json

In [ ]:
import json

In [ ]:
json.dumps(['foo', {'bar': ('baz', None, 1.0, 2)}])

JSON   | Python
---------------
object | dict
array  | list
string | str
number | int
number | float
true   | True
false  | False
null   | None

**[json — JSON encoder and decode](https://docs.python.org/3/library/json.html)**

[The JavaScript Object Notation (JSON) Data Interchange Format](https://datatracker.ietf.org/doc/html/rfc7159)

In [ ]:
images = """
{
    "Images": [
    {
        "Title":"High View",
        "Width": 800,
        "Height": 600,
        "Where": "View from 15th Floor",
        "Greyscale": true,
        "Author": null,
        "Thumbnail": {
            "Url": "http://www.example.com/image/481989943",
            "Height": 125,
            "Width": 100
        },
        "Animated": false,
        "IDs": [116, 943, 234, 38793]
    },
    {
        "Title":"Ground View",
        "Width": 800,
        "Height": 600,
        "Where": "View from 1st Floor",
        "Greyscale": false,
        "Author": "Charles Darwin",
        "Thumbnail": {
            "Url": "http://www.example.com/image/481989955",
            "Height": 125,
            "Width": 100
        },
        "Animated": false,
        "IDs": [122, 867, 290, 90126]
    }
  ]
}
"""

In [ ]:
data = json.loads(images)
print(data)

In [ ]:
type(data)

In [ ]:
type(data["Images"])

In [ ]:
for image in data["Images"]:
    print(image)
    print('---')

In [ ]:
for image in data["Images"]:
    print(image['Title'])
    print('---')

In [ ]:
# del value

In [ ]:
for image in data["Images"]:
    del image['Thumbnail']
print(data)

In [ ]:
# dump
new_data = json.dumps(data, indent=2)
print(new_data)

In [ ]:
# states
filename = 'us_states.json'
with open(filename) as f:
    us_states_data = json.load(f)
    for state in us_states_data['states']:
        print(state)

In [ ]:
filename = 'us_states.json'
with open(filename) as f:
    us_states_data = json.load(f)
    lons, lats, hover_texts = [], [], []
    for state in us_states_data['states']:
        lon = state['long']
        lat = state['lat']
        title = state['capital']

        lons.append(lon)
        lats.append(lat)

In [ ]:
import json

from plotly.graph_objs import Scattergeo, Layout
from plotly import offline

# Explore the structure of the data.
filename = 'eq_data_1_day_m1.json'
with open(filename) as f:
    all_eq_data = json.load(f)

all_eq_dicts = all_eq_data['features']

mags, lons, lats, hover_texts = [], [], [], []
for eq_dict in all_eq_dicts:
    mag = eq_dict['properties']['mag']
    lon = eq_dict['geometry']['coordinates'][0]
    lat = eq_dict['geometry']['coordinates'][1]
    title = eq_dict['properties']['title']
    mags.append(mag)
    lons.append(lon)
    lats.append(lat)
    hover_texts.append(title)

# Map the earthquakes.
data = [{
    'type': 'scattergeo',
    'lon': lons,
    'lat': lats,
    'text': hover_texts,
    'marker': {
        'size': [5*mag for mag in mags],
        'color': mags,
        'colorscale': 'Viridis',
        'reversescale': True,
        'colorbar': {'title': 'Magnitude'},
    },
}]

my_layout = Layout(title='Global Earthquakes')

fig = {'data': data, 'layout': my_layout}
offline.plot(fig, filename='global_earthquakes.html')

# Testing and Exceptions

In [ ]:
# exceptions object

In [ ]:
# try-except

In [ ]:
# Handling the ZeroDivisionError Exception

In [ ]:
5 / 0

In [ ]:
try:
    5 / 0
except:
    print('something wrong happened')

In [ ]:
# get exception info
try:
    5 / 0
except Exception as e:
#     print(dir(e))
    print(e.__class__)
#     print(e.args[0])
#    print(e)

In [ ]:
try:
    5 / 0

except ZeroDivisionError:
    print("You cannot divide by zero")

In [ ]:
# multiple excepts
# default except last

In [ ]:
try:
    print(aa)
except ZeroDivisionError:
    print("You cannot divide by zero")
except Exception as err:
    print(f'something wrong happened which is {err}')

In [ ]:
# 'else' if no errors raised

In [ ]:
try:
    print(aa)
except ZeroDivisionError:
    print("You cannot divide by zero")
except:
    print('something wrong happened')
else:
    print('no errors found')

In [ ]:
# 'finally' to be executed whether or not an error is raised

In [ ]:
try:
    f = open("demofile.txt")
    try:
        f.write("Lorum Ipsum")
    except:
        print("Something went wrong when writing to the file")
    finally:
        f.close()
except:
    print("Something went wrong when opening the file")

In [ ]:
# types of built-in exceptions
# https://docs.python.org/3/library/exceptions.html#BaseException

In [ ]:
# rasing exceptions with 'raise' statement

In [ ]:
x = -1

if x < 0:
    raise Exception("Sorry, no numbers below zero")

In [ ]:
try:
    raise Exception("Hi buddy")
except Exception:
    print('انت هتصاحبني ولا إيه؟')

In [ ]:
# fail silently

In [ ]:
try:
    5 / 0
except:
    pass
print('as if nothing happened')

**[doctest — Test interactive Python examples](https://docs.python.org/3/library/doctest.html)**

In [ ]:
"""
This is the "example" module.

The example module supplies one function, factorial().  For example,

>>> factorial(5)
120
"""


def factorial(n):
    """Return the factorial of n, an exact integer >= 0.

    >>> [factorial(n) for n in range(6)]
    [1, 1, 2, 6, 24, 120]
    >>> factorial(30)
    265252859812191058636308480000000
    >>> factorial(-1)
    Traceback (most recent call last):
        ...
    ValueError: n must be >= 0

    Factorials of floats are OK, but the float must be an exact integer:
    >>> factorial(30.1)
    Traceback (most recent call last):
        ...
    ValueError: n must be exact integer
    >>> factorial(30.0)
    265252859812191058636308480000000

    It must also not be ridiculously large:
    >>> factorial(1e100)
    Traceback (most recent call last):
        ...
    OverflowError: n too large
    """

    import math
    if not n >= 0:
        raise ValueError("n must be >= 0")
    if math.floor(n) != n:
        raise ValueError("n must be exact integer")
    if n + 1 == n:  # catch a value like 1e300
        raise OverflowError("n too large")
    result = 1
    factor = 2
    while factor <= n:
        result *= factor
        factor += 1
    return result


if __name__ == "__main__":
    import doctest
    doctest.testmod()

In [ ]:
#################
# Linear Diophantine Equation (LDE)
# ax+by=c, where  x,y ∈ Z  and a, b, c are integer constants
# has a solution if and only if c is a multiple of the gcd(a,b)

In [ ]:
def pour(jug1, jug2):
    max1, max2, fill = 3, 5, 4 # 3x + 5y = 4
    
    print(f'{jug1} \t {jug2}')
    if jug2 == fill:
        return
    elif jug2 == max2:
        pour(0, jug1)
    elif jug1 != 0 and jug2 == 0:
        pour(0, jug1)
    elif jug1 == fill:
        pour(jug1, 0)
    elif jug1 < max1:
        pour(max1, jug2)
    elif jug1 < (max2-jug2):
        pour(0, (jug1+jug2))
    else:
        pour(jug1-(max2-jug2), (max2-jug2)+jug2)
 
print("JUG1\tJUG2")
pour(0, 0)

In [ ]:
#################
# Linear Diophantine Equation (LDE)
# ax+by=c, where  x,y ∈ Z  and a, b, c are integer constants
# has a solution if and only if c is a multiple of the gcd(a,b)

In [ ]:
import math
def pour(jug1, jug2):
    max1, max2, fill = 6, 9, 7
    if math.gcd(max1, max2) % fill != 0:
        return f'sorry! the goal amount should be a multiple of the gcd of {max1} and {max2}'
    print(f'{jug1} \t {jug2}')
    if jug2 == fill:
        return 
    elif jug2 == max2:
        pour(0, jug1)
    elif jug1 != 0 and jug2 == 0:
        pour(0, jug1)
    elif jug1 == fill:
        pour(jug1, 0)
    elif jug1 < max1:
        pour(max1, jug2)
    elif jug1 < (max2-jug2):
        pour(0, (jug1+jug2))
    else:
        pour(jug1-(max2-jug2), (max2-jug2)+jug2)
 
print("JUG1\tJUG2")
pour(0, 0)

In [ ]:
small = 0
big = 0

def fill_small():
    small = 3

def fill_big():
    big = 5

def empty_small():
    small = 0

def empty_big():
    big = 0

def pour_small_into_big():
    old_big = big
    big = min(5, big + small)
    small = small - (big - old_big)

def pour_big_into_small():
    old_small = small
    small = min(3, small + big)
    big = big - (small - old_small)

def physics_of_jugs():
    assert 0 <= small <= 3
    assert 0 <= big <= 5